<div class="accordion" id="_dm-gapAccordion">
    <div class="accordion-item" *ngFor="let item of ActiveWarrantyInfoList">
        <div class="accordion-header" id="_Sale_{{item.WarrantyID}}">
            <button class="accordion-button bg-secondary text-white shadow-none collapsed" type="button"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#_Sale_Collapse_'+ item.WarrantyID" aria-expanded="false"
                aria-controls="_dm-gapAccCollapseOne">
                <div class="row col-lg-12">
                     <div class="col-lg-2 col-md-2 col-sm-3">Date - {{item.ReplacementDate}} </div>
                    <div class="offset-lg-1 offset-md-1  col-lg-1 col-md-1 col-sm-1">
                        <i class="demo-pli-trash fs-5" (click)="delete(item.WarrantyID)"></i>
                        <i class="demo-pli-pencil fs-5" (click)="edit(item)" style="margin-left: 0.5rem"></i>
                        <i class="demo-pli-printer fs-5"(click)="print(item)"  style="margin-left: 0.5rem"></i>
                    </div>
                </div>
            </button>
        </div>
        <div id="_Sale_Collapse_{{item.WarrantyID}}" class="accordion-collapse bg-secondary text-white collapse"
            aria-labelledby="_dm-gapAccHeadingOne" data-bs-parent="#_dm-gapAccordion" style="">
            <div class="accordion-body row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table" style="background: white;">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Type</th>
                                    <th>Product</th>
                                    <th>Warranty Type</th>
                                    <th>Old Serial No</th>
                                    <th>New Serial No</th>
                                    <th>Guarantee End Date</th>
                                    <th>Warranty</th>
                                    <th>Warranty End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of item.WarrantyProductInfo">
                                    <td>{{prod.CustomerName}} / {{prod.ContactNo}}</td>
                                    <td>{{prod.CustomerType}}</td>
                                    <td>{{prod.ProductName}}</td>
                                    <td>{{prod.WarrantyType == 'F' ? 'Free' : 'Discount'}}</td>
                                    <td>{{prod.OldSerialNo}}</td>
                                    <td>{{prod.NewSerialNo}}</td>
                                    <td>{{prod.GuaranteeEndDate}}</td>
                                    <td>{{prod.WarrantyPeriod}}</td>
                                    <td>{{prod.WarrantyEndDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>