<div class="content__boxed">
    <form class="content__wrap" [formGroup]="PurchaseInwardInfoForm" (ngSubmit)="Submit($event)">
        <section>
            <form class="row">
                <div class="col-md-12 mb-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Accept Purchase Return</h5>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="PurchaseDate" class="visually-hidden" [class.text-danger]="((PurchaseInwardInfoForm.get('PurchaseDate')?.touched ||
                                        PurchaseInwardInfoForm.get('PurchaseDate')?.dirty) &&
                                        PurchaseInwardInfoForm.get('PurchaseDate')?.errors)" [class.text-success]="(
                                        !PurchaseInwardInfoForm.get('PurchaseDate')?.errors)">Date</label>
                                            <input id="PurchaseDate" type="text" formControlName="PurchaseDate"
                                                [class.is-invalid]="((PurchaseInwardInfoForm.get('PurchaseDate')?.touched ||
                                        PurchaseInwardInfoForm.get('PurchaseDate')?.dirty) &&
                                        PurchaseInwardInfoForm.get('PurchaseDate')?.errors)" [class.is-valid]="(
                                        !PurchaseInwardInfoForm.get('PurchaseDate')?.errors)" class="form-control"
                                                placeholder="Date" appDate>
                                            <span style="color:red" class="help-block" *ngIf="((PurchaseInwardInfoForm.get('PurchaseDate')?.touched ||
                                            PurchaseInwardInfoForm.get('PurchaseDate')?.dirty) &&
                                            PurchaseInwardInfoForm.get('PurchaseDate')?.errors)">
                                                Date is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-1" *ngIf="PurchaseReturnInfoList?.length">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row" formGroupName="SaleProductInfo">
                                <div class="accordion" id="_dm-gapAccordion">
                                    <div class="accordion-item"
                                        *ngFor="let item of PurchaseReturnInfoList; let i = index">
                                        <div class="accordion-header" id="_Sale_{{item.PurchaseReturnID}}">
                                            <button
                                                class="accordion-button bg-secondary text-white shadow-none collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                [attr.data-bs-target]="'#_Sale_Collapse_'+ item.PurchaseReturnID"
                                                aria-expanded="false" aria-controls="_dm-gapAccCollapseOne">
                                                <div class="row col-lg-12">
                                                    <div class="col-lg-2 col-md-2 col-sm-3">
                                                        <input name="elem{{ i }}" id="elem{{ i }}"
                                                            [(ngModel)]="item.Checked" type="checkbox"
                                                            [checked]="item.Checked"
                                                            (click)="checkElement($event, i)" />
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">Date -{{item.BillDate}}
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div id="_Sale_Collapse_{{item.PurchaseReturnID}}"
                                            class="accordion-collapse bg-secondary text-white collapse"
                                            aria-labelledby="_dm-gapAccHeadingOne" data-bs-parent="#_dm-gapAccordion"
                                            style="">
                                            <div class="accordion-body row">
                                                <div class="col-md-4">
                                                    <div *ngIf="item?.CustomerInfo?.CustomerID"
                                                        class="col-sm-12 col-md-6 col-xl-12 mb-1">
                                                        <div class="tab-base">
                                                            <ul class="nav nav-callout justify-content-end"
                                                                role="tablist">
                                                                <li class="nav-item" role="presentation">
                                                                    <button class="nav-link active" data-bs-toggle="tab"
                                                                        [attr.data-bs-target]="'#home_'+ item.PurchaseReturnID"
                                                                        type="button" role="tab" aria-controls="home"
                                                                        aria-selected="true">Detail</button>
                                                                </li>
                                                                <li class="nav-item" role="presentation">
                                                                    <button class="nav-link" data-bs-toggle="tab"
                                                                        [attr.data-bs-target]="'#more_'+ item.PurchaseReturnID"
                                                                        type="button" role="tab" aria-controls="profile"
                                                                        aria-selected="false">More info</button>
                                                                </li>
                                                            </ul>

                                                            <div class="tab-content" style="padding: 0.50rem 0.50rem;">
                                                                <div id="home_{{item.PurchaseReturnID}}"
                                                                    class="tab-pane fade show active" role="tabpanel"
                                                                    aria-labelledby="home-tab">
                                                                    <div
                                                                        class="d-flex align-items-center position-relative pb-3">
                                                                        <div class="flex-shrink-0">
                                                                            <img class="img-md rounded-circle"
                                                                                src="../../assets/img/profile-photos/3.png"
                                                                                alt="Profile Picture" loading="lazy">
                                                                        </div>
                                                                        <div class="flex-grow-1 ms-3">
                                                                            <a
                                                                                class="h5 stretched-link btn-link">{{item?.CustomerInfo?.CustomerName}}</a>
                                                                            <p class="text-muted m-0">
                                                                                {{item?.CustomerInfo?.ContactNo}}</p>
                                                                            <p class="h5 stretched-link btn-link">
                                                                                {{item?.CustomerInfo?.CustomerType}}
                                                                            </p>{{item?.CustomerInfo?.Address}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="more_{{item.PurchaseReturnID}}" class="tab-pane fade"
                                                                    role="tabpanel" aria-labelledby="profile-tab">
                                                                    <p class="flex-grow-1 ms-3">
                                                                        {{item?.CustomerInfo?.Address}}<br>
                                                                        {{item?.CustomerInfo?.VehiclelNo}}<br>
                                                                        {{item?.CustomerInfo?.VehicleName}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="table-responsive">
                                                        <table class="table" style="background: white;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product</th>
                                                                    <th>Amp</th>
                                                                    <th>Serial No</th>
                                                                    <th>Price</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let prod of item.PurchaseReturnProductInfo">
                                                                    <td>{{prod.ProductName}}</td>
                                                                    <td>{{prod.Amp}}</td>
                                                                    <td>{{prod.SerialNo}}</td>
                                                                    <td>{{prod.Price}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-5 mb-1">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div class="mt-4 d-grid gap-2 d-md-block">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="(PurchaseInwardInfoForm.invalid || showLoader)">
                                        <ng-container *ngIf="showLoader">
                                            <span class="spinner-border spinner-border-sm"></span>
                                            Loading..
                                        </ng-container>
                                        <ng-container *ngIf="!showLoader">
                                            {{isAdd?'Save':'Update'}}
                                        </ng-container>

                                    </button>
                                    |
                                    <button type="button" class="btn btn-danger"
                                        (click)="clearSaleReturn()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>