<div class="content__boxed">
    <div class="content__wrap">
        <section>
            <form class="row" [formGroup]="SaleInfoForm">
                <div class="col-md-12 mb-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Sale</h5>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                                <div class="btn-group" role="group"
                                                    aria-label="Basic radio toggle button group">
                                                    <ng-container *ngFor="let group of withOrWithoutGST">
                                                        <input type="radio" class="btn-check" id="{{group.Value}}"
                                                            [value]="group.Value" [formControlName]="'GSTMode'"
                                                            (change)="onWithOrWithoutGSTChange()">
                                                        <label class="btn btn-outline-primary"
                                                            for="{{group.Value}}">{{group.Text}}</label>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="_dm-inputPassword" class="visually-hidden" [class.text-danger]="((SaleInfoForm.get('BillNo')?.touched ||
                                            SaleInfoForm.get('BillNo')?.dirty) &&
                                            SaleInfoForm.get('BillNo')?.errors)" [class.text-success]="(SaleInfoForm.get('BillNo')?.touched &&
                                            !SaleInfoForm.get('BillNo')?.errors)">Bill No</label>
                                            <input type="text" class="form-control" id="_dm-inputPassword"
                                                formControlName="BillNo" placeholder="Bill No" [class.is-invalid]="((SaleInfoForm.get('BillNo')?.touched ||
                                        SaleInfoForm.get('BillNo')?.dirty) &&
                                        SaleInfoForm.get('BillNo')?.errors)" [class.is-valid]="(SaleInfoForm.get('BillNo')?.touched &&
                                        !SaleInfoForm.get('BillNo')?.errors)" NumberOnly
                                                [directiveName]="'NumberOnly'">
                                            <span style="color:red" class="help-block" *ngIf="((SaleInfoForm.get('BillNo')?.touched ||
                                        SaleInfoForm.get('BillNo')?.dirty) &&
                                        SaleInfoForm.get('BillNo')?.errors)">
                                                Bill no is required.
                                            </span>

                                        </div>
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-primary"
                                                (click)="showCustomerInfoSlideIn(true)">
                                                <i class=" demo-pli-mail-send fs-5"></i> {{btnChooseCustomerText}}
                                            </button>
                                            <span style="color:red" class="help-block" *ngIf="((
                                            SaleInfoForm.get('CustomerID')?.dirty) &&
                                            SaleInfoForm.get('CustomerID')?.errors)">
                                                Please choose customer.
                                            </span>

                                        </div>
                                        <div class="col-md-3">
                                            <label for="BillDate" class="visually-hidden" [class.text-danger]="((SaleInfoForm.get('BillDate')?.touched ||
                                        SaleInfoForm.get('BillDate')?.dirty) &&
                                        SaleInfoForm.get('BillDate')?.errors)" [class.text-success]="(
                                        !SaleInfoForm.get('BillDate')?.errors)">Date</label>
                                            <input id="BillDate" type="text" formControlName="BillDate"
                                                [class.is-invalid]="((SaleInfoForm.get('BillDate')?.touched ||
                                        SaleInfoForm.get('BillDate')?.dirty) &&
                                        SaleInfoForm.get('BillDate')?.errors)" [class.is-valid]="(
                                        !SaleInfoForm.get('BillDate')?.errors)" class="form-control" placeholder="Date"
                                                appDate>
                                            <span style="color:red" class="help-block" *ngIf="((SaleInfoForm.get('BillDate')?.touched ||
                                            SaleInfoForm.get('BillDate')?.dirty) &&
                                            SaleInfoForm.get('BillDate')?.errors)">
                                                Date is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3" formGroupName="SaleProductInfo">
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title">Product</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <input id="id_SerialNo" formControlName="SerialNo" type="text"
                                                class="form-control  enter-focus" placeholder="Scan OR enter serial no"
                                                (blur)="separateSerialNo()" #scanControl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div *ngIf="selectedCustomer && userType == 'DL'" class="col-sm-12 col-md-6 col-xl-12 mb-1">
                               <app-customer-model [selectedCustomer]="selectedCustomer" (removeSelectedCustomer)="removeSelectedCustomer()"></app-customer-model>
                            </div>
                            <div *ngIf="selectedCustomer && userType == 'MF'" class="col-sm-12 col-md-6 col-xl-12 mb-1">
                                <app-distributor-model [selectedDistributor]="selectedCustomer" (removeSelectedDistributor)="removeSelectedCustomer()"></app-distributor-model>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-1" *ngIf="SaleInfoForm.get('SaleProductList')?.value?.length">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row" formGroupName="SaleProductInfo">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Product</th>
                                                    <th>SrNo</th>
                                                    <th>Price</th>
                                                    <ng-container
                                                        *ngIf="this.SaleInfoForm.get('GSTMode')?.value === 'G'">
                                                        <ng-container
                                                            *ngIf="this.SaleInfoForm.get('ApplicableGSTType')?.value==='CSGT_SGST'">
                                                            <th>CGST</th>
                                                            <th>SGST</th>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngIf="this.SaleInfoForm.get('ApplicableGSTType')?.value==='IGST'">
                                                            <th>IGST</th>
                                                        </ng-container>
                                                    </ng-container>
                                                    <th>Qty</th>
                                                    <th>Sale Price</th>
                                                    <th>Disc %</th>
                                                    <th>Disc Amount</th>
                                                    <th>Total Disc Amnt</th>
                                                    <th>Taxable Amount</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of SaleInfoForm.get('SaleProductList')?.value ?? []; let i= index">
                                                    <th> <input type="button" class="btn btn-danger" value="Delete"
                                                            (click)="removeSaleProduct(item)" />
                                                    </th>
                                                    <td>{{item.ProductName}}</td>
                                                    <td>{{item.SerialNoList.join(",")}}</td>
                                                    <td>{{item.Price}}</td>
                                                    <ng-container
                                                        *ngIf="this.SaleInfoForm.get('GSTMode')?.value === 'G'">
                                                        <ng-container
                                                            *ngIf="this.SaleInfoForm.get('ApplicableGSTType')?.value==='CSGT_SGST'">
                                                            <td>{{item?.CGSTAmount}}</td>
                                                            <td>{{item?.SGSTAmount}}</td>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngIf="this.SaleInfoForm.get('ApplicableGSTType')?.value==='IGST'">
                                                            <td>{{item?.IGSTAmount}}</td>
                                                        </ng-container>
                                                    </ng-container>
                                                    <td>{{item.Quantity}}</td>
                                                    <td> <input id="id_SalePrice" type="text" [formControlName]='i'
                                                            class="form-control" placeholder="Enter price"
                                                            [value]="item?.SalePrice ?? 0" NumberOnly
                                                            [directiveName]="'appDecimaNumber'"
                                                            (change)="updateSalePrice($event, i)">
                                                    </td>
                                                    <td><input id="id_Discount" type="text"
                                                            [formControlName]="i+'Discount'" class="form-control"
                                                            placeholder="Enter Disc %" [value]="item?.Discount ?? 0"
                                                            NumberOnly [directiveName]="'appDecimaNumber'"
                                                            (change)="onDiscountChange($event, i)">
                                                    </td>
                                                    <td>{{item.DiscountAmount}}</td>
                                                    <td>{{item.TotalDiscountAmount}}</td>
                                                    <td>{{item.TotalGSTAmount}}</td>
                                                    <td>{{item.TotalAmount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-1">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div class="col-md-2">
                                    <div class="row">
                                        <label for="TotalQuantity" class="col-sm-4 col-form-label">Total Qty</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="TotalQuantity" class="form-control"
                                                id="TotalQuantity">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <label for="TotalAmount" class="col-sm-4 col-form-label">Total
                                            Amount</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="TotalAmount" class="form-control"
                                                id="TotalAmount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-select enter-focus" formControlName="AmpID"
                                        aria-label="select transition timing" (change)="onAmpChange()">
                                        <option value=""> -- Select Amp --</option>
                                        <option *ngFor="let item of ampList" [value]="item.AmpID">
                                            {{item.Amp}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-select enter-focus" formControlName="PaymentModeID"
                                        aria-label="select transition timing">
                                        <option value=""> -- Select Payment Mode --</option>
                                        <option *ngFor="let item of paymentModeList" [value]="item.PaymentModeID">
                                            {{item.PaymentMode}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <input type="text" formControlName="OldBatteryCount" class="form-control"
                                        placeholder="Old Battery Count" id="OldBatteryCount"
                                        (blur)="updateTotalValues()">
                                </div>
                                <div class="col-md-1">
                                    <input type="text" formControlName="OldBatteryPurchasePrice" class="form-control"
                                        placeholder="Purchase Price" id="OldBatteryPurchasePrice"
                                        (blur)="updateTotalValues()">
                                </div>
                                <div class="col-md-1">
                                    <input type="text" formControlName="TotalOldBatteryAmount" class="form-control"
                                        placeholder="Total Old Battery Amount" id="TotalOldBatteryAmount"
                                        (blur)="updateTotalValues()">
                                </div>

                                <div class="col-md-2">
                                    <div class="row">
                                        <label for="DiscountAmount" class="col-sm-4 col-form-label">Disc Amount</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="DiscountAmount" class="form-control"
                                                placeholder="Discount Amount" id="DiscountAmount"
                                                (blur)="updateTotalValues()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <label for="FinalAmount" class="col-sm-4 col-form-label">FinalAmount</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="FinalAmount" class="form-control"
                                                id="FinalAmount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <label for="TotalPaidAmount" class="col-sm-4 form-label">Paid Amount</label>
                                        <div class="col-sm-8">
                                            <input id="TotalPaidAmount" formControlName="TotalPaidAmount" type="text"
                                                class="form-control" placeholder="Paid Amount"
                                                (blur)="updateTotalValues()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <label for="Pending" class="col-sm-4 col-form-label">Pending Amount</label>
                                        <div class="col-sm-8">
                                            <input id="Pending" type="text" class="form-control"
                                                formControlName="PendingAmount" placeholder="Pending">
                                        </div>
                                    </div>
                                </div>
                                <ng-container *ngIf="this.SaleInfoForm.get('GSTMode')?.value === 'G'">
                                    <ng-container
                                        *ngIf="this.SaleInfoForm.get('ApplicableGSTType')?.value==='CSGT_SGST'">
                                        <div class="col-md-2">
                                            <div class="row">
                                                <label for="CGSTAmount" class="col-sm-4 col-form-label">CGST
                                                    Amount</label>
                                                <div class="col-sm-8">
                                                    <input id="CGSTAmount" type="text" class="form-control" NumberOnly
                                                        [directiveName]="'appDecimaNumber'" formControlName="CGSTAmount"
                                                        placeholder="CGST Amount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <label for="SGSTAmount" class="col-sm-4 col-form-label">SGST
                                                    Amount</label>
                                                <div class="col-sm-8">
                                                    <input id="SGSTAmount" type="text" class="form-control" NumberOnly
                                                        [directiveName]="'appDecimaNumber'" formControlName="SGSTAmount"
                                                        placeholder="SGST Amount">
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="this.SaleInfoForm.get('ApplicableGSTType')?.value==='IGST'">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label for="IGSTAmount" class="col-sm-4 col-form-label">IGST
                                                    Amount</label>
                                                <div class="col-sm-8">
                                                    <input id="IGSTAmount" type="text" class="form-control" NumberOnly
                                                        [directiveName]="'appDecimaNumber'" formControlName="IGSTAmount"
                                                        placeholder="IGST Amount">
                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>
                                </ng-container>

                                <div class="col-md-4">
                                    <div class="row">
                                        <label for="TotalPaidAmount" class="col-sm-2 form-label">Notes</label>
                                        <div class="col-sm-10">
                                            <input id="TotalPaidAmount" formControlName="Remark" type="text"
                                                class="form-control" placeholder="Notes">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="this.SaleInfoForm.get('GSTMode')?.value === 'G'">
                                    <div class="row">
                                        <label for="TotalTaxableAmount" class="col-sm-6 col-form-label">Total Taxable
                                            Amount</label>
                                        <div class="col-sm-6">
                                            <input id="TotalTaxableAmount" type="text" class="form-control" NumberOnly
                                                [directiveName]="'appDecimaNumber'" formControlName="TotalTaxableAmount"
                                                placeholder="Taxable Amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-sm-2 offset-sm-1">
                                    <div class="form-check">
                                        <input id="_dm-rememberCheck3" class="form-check-input" formControlName="Print"
                                            type="checkbox">
                                        <label for="_dm-rememberCheck3" class="form-check-label">
                                            <b>Print</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 d-grid gap-2 d-md-block">
                                <button type="button" class="btn btn-primary" [disabled]="SaleInfoForm.invalid || ((this.SaleInfoForm.get('SaleProductList')?.value ?? []).length==0 
                                    || !selectedCustomer
                                    || showLoader)" (click)="Submit()">
                                    <ng-container *ngIf="showLoader">
                                        <span class="spinner-border spinner-border-sm"></span>
                                        Loading..
                                    </ng-container>
                                    <ng-container *ngIf="!showLoader">
                                        {{isAdd?'Save':'Update'}}
                                    </ng-container>
                                </button>
                                |
                                <button type="button" class="btn btn-danger" (click)="clearSale()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<app-slide-in [showSlideIn]="isCustomerInfoSlideIn" (visibleChange)="showCustomerInfoSlideIn($event)">
    <app-distributor-info *ngIf="userType === 'MF'"></app-distributor-info>
    <app-dealer-info *ngIf="userType === 'DS'"></app-dealer-info>
    <app-customer-info *ngIf="userType === 'DL'"></app-customer-info>
</app-slide-in>