<div class="card-body">
    <h5 class="card-title">Formatting data</h5>
    <div id="_dm-tabulatorFormatData" class="table table-striped tabulator" role="grid"
        tabulator-layout="fitColumns" style="height: 300px;">
        <div class="tabulator-header" style="padding-right: 0px;">
            <div class="tabulator-headers" style="margin-left: 0px;">
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none" title=""
                    style="min-width: 40px; width: 70px; height: 42px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Who</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="name" title="" style="min-width: 40px; width: 200px; height: 42px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Name</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="age" title="" style="min-width: 40px; height: 42px; width: 118px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Age</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="gender" title="" style="min-width: 40px; height: 42px; width: 118px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Gender</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="height" title="" style="min-width: 40px; width: 100px; height: 42px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Height</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="col" title="" style="min-width: 40px; height: 42px; width: 118px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Favourite Color</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="dob" title="" style="min-width: 40px; height: 42px; width: 118px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Date Of Birth</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
                <div class="tabulator-col tabulator-sortable" role="columnheader" aria-sort="none"
                    tabulator-field="cheese" title="" style="min-width: 40px; height: 42px; width: 119px;">
                    <div class="tabulator-col-content">
                        <div class="tabulator-col-title-holder">
                            <div class="tabulator-col-title">Cheese Preference</div>
                            <div class="tabulator-col-sorter">
                                <div class="tabulator-arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tabulator-col-resize-handle"></div>
                    <div class="tabulator-col-resize-handle prev"></div>
                </div>
            </div>
            <div class="tabulator-frozen-rows-holder"></div>
        </div>
        <div class="tabulator-tableHolder" tabindex="0"
            style="min-height: calc(100% - 44px); height: calc(100% - 44px); max-height: calc(100% - 44px);">
            <div class="tabulator-table" style="padding-top: 0px; padding-bottom: 0px;">
                <div class="tabulator-row tabulator-selectable tabulator-row-odd" role="row"
                    style="padding-left: 0px;">
                    <div class="tabulator-cell" role="gridcell" title=""
                        style="width: 70px; text-align: center; height: 43px;"><i
                            class="demo-pli-question fs-5"></i>
                        <div class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="name" tabindex="0" title=""
                        style="width: 200px; height: 43px;">Billy Bob<div
                            class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="age" aria-label="12"
                        title=""
                        style="width: 118px; text-align: left; min-width: 30px; position: relative; height: 43px;">
                        <div class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                        <div data-max="100" data-min="0"
                            style="display: inline-block; position: relative; width: 12%; background-color: rgb(45, 194, 20); height: 100%;">
                        </div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="gender" title=""
                        style="width: 118px; text-align: center; height: 43px;">male<div
                            class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="height" aria-label="1"
                        title=""
                        style="width: 100px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 43px;">
                        <span style="vertical-align: middle;"><svg width="14" height="14"
                                viewBox="0 0 512 512" xml:space="preserve" style="padding: 0px 1px;">
                                <polygon fill="#FFEA00" stroke="#C1AB60" stroke-width="37.6152"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    points="259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 29.274,197.007 188.165,173.919 ">
                                </polygon>
                            </svg><svg width="14" height="14" viewBox="0 0 512 512" xml:space="preserve"
                                style="padding: 0px 1px;">
                                <polygon fill="#D2D2D2" stroke="#686868" stroke-width="37.6152"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    points="259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 29.274,197.007 188.165,173.919 ">
                                </polygon>
                            </svg><svg width="14" height="14" viewBox="0 0 512 512" xml:space="preserve"
                                style="padding: 0px 1px;">
                                <polygon fill="#D2D2D2" stroke="#686868" stroke-width="37.6152"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    points="259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 29.274,197.007 188.165,173.919 ">
                                </polygon>
                            </svg><svg width="14" height="14" viewBox="0 0 512 512" xml:space="preserve"
                                style="padding: 0px 1px;">
                                <polygon fill="#D2D2D2" stroke="#686868" stroke-width="37.6152"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    points="259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 29.274,197.007 188.165,173.919 ">
                                </polygon>
                            </svg><svg width="14" height="14" viewBox="0 0 512 512" xml:space="preserve"
                                style="padding: 0px 1px;">
                                <polygon fill="#D2D2D2" stroke="#686868" stroke-width="37.6152"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                    points="259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 29.274,197.007 188.165,173.919 ">
                                </polygon>
                            </svg></span>
                        <div class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="col" title=""
                        style="width: 118px; text-align: center; background-color: red; height: 43px;">
                        <div class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="dob" title=""
                        style="width: 118px; text-align: center; height: 43px;">&nbsp;<div
                            class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                    <div class="tabulator-cell" role="gridcell" tabulator-field="cheese" aria-checked="true"
                        title="" style="width: 119px; text-align: center; height: 43px;"><svg
                            enable-background="new 0 0 24 24" height="14" width="14" viewBox="0 0 24 24"
                            xml:space="preserve">
                            <path fill="#2DC214" clip-rule="evenodd"
                                d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z"
                                fill-rule="evenodd"></path>
                        </svg>
                        <div class="tabulator-col-resize-handle"></div>
                        <div class="tabulator-col-resize-handle prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>