<div class="content__wrap">
    <h2 class="mb-3">Customer Transaction</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <form class="card-body"  [formGroup]="CustomerTransactionInfoForm" (ngSubmit)="Submit()">
                    <div class="row mb-1">
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <div class="btn-group" role="group"
                                aria-label="Basic radio toggle button group">
                                <ng-container *ngFor="let group of crDr">
                                    <input type="radio" class="btn-check" id="{{group.Value}}"
                                        [value]="group.Value" [formControlName]="'TransactionType'">
                                    <label class="btn btn-outline-primary"
                                        for="{{group.Value}}">{{group.Text}}</label>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label for="_dm-inputAddress" class="form-label" [class.text-danger]="((CustomerTransactionInfoForm.get('TransactionDate')?.touched ||
                                    CustomerTransactionInfoForm.get('TransactionDate')?.dirty) &&
                                    CustomerTransactionInfoForm.get('TransactionDate')?.errors)" [class.text-success]="(CustomerTransactionInfoForm.get('TransactionDate')?.touched &&
                                    !CustomerTransactionInfoForm.get('TransactionDate')?.errors)">Bill Date</label>
                            <input id="_dm-inputAddress" type="text" [formControlName]="'TransactionDate'" [class.is-invalid]="((CustomerTransactionInfoForm.get('TransactionDate')?.touched ||
                                    CustomerTransactionInfoForm.get('TransactionDate')?.dirty) &&
                                    CustomerTransactionInfoForm.get('TransactionDate')?.errors)" [class.is-valid]="(CustomerTransactionInfoForm.get('TransactionDate')?.touched &&
                                    !CustomerTransactionInfoForm.get('TransactionDate')?.errors)" class="form-control"
                                placeholder="Enter Date" appDate>
                            <span style="color:red" class="help-block" *ngIf="((CustomerTransactionInfoForm.get('TransactionDate')?.touched ||
                                        CustomerTransactionInfoForm.get('TransactionDate')?.dirty) &&
                                        CustomerTransactionInfoForm.get('TransactionDate')?.errors)">
                                date is required.
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <label for="_dm-inputAddress" class="form-label">Select Customer   </label>
                            <button type="button" class="btn btn-primary"
                            (click)="showCustomerInfoSlideIn(true)">
                            <i class=" demo-pli-mail-send fs-5"></i> {{btnChooseCustomerText}}
                        </button>
                        <span style="color:red" class="help-block"
                            *ngIf="((
                                CustomerTransactionInfoForm.get('PartyID')?.dirty) &&
                                CustomerTransactionInfoForm.get('PartyID')?.errors)">
                            Please choose customer.
                        </span>
                        </div>
                        <div class="col-lg-6">
                            <label for="_dm-Amount" class="form-label" [class.text-danger]="((CustomerTransactionInfoForm.get('Amount')?.touched ||
                                    CustomerTransactionInfoForm.get('Amount')?.dirty) &&
                                    CustomerTransactionInfoForm.get('Amount')?.errors)" [class.text-success]="(CustomerTransactionInfoForm.get('Amount')?.touched &&
                                    !CustomerTransactionInfoForm.get('Amount')?.errors)">Amount</label>
                            <input id="_dm-Amount" type="text" [formControlName]="'Amount'"
                                [class.is-invalid]="((CustomerTransactionInfoForm.get('Amount')?.touched ||
                                    CustomerTransactionInfoForm.get('Amount')?.dirty) &&
                                    CustomerTransactionInfoForm.get('Amount')?.errors)" [class.is-valid]="(CustomerTransactionInfoForm.get('Amount')?.touched &&
                                    !CustomerTransactionInfoForm.get('Amount')?.errors)" class="form-control"
                                placeholder="Enter Amount" NumberOnly
                                [directiveName]="'appDecimaNumber'">
                            <span style="color:red" class="help-block" *ngIf="((CustomerTransactionInfoForm.get('Amount')?.touched ||
                                        CustomerTransactionInfoForm.get('Amount')?.dirty) &&
                                        CustomerTransactionInfoForm.get('Amount')?.errors)">
                                        Amount is required.
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <label for="_dm-Balance" class="form-label" >Balance</label>
                            <input id="_dm-Balance" type="text" [formControlName]="'Balance'"
                                class="form-control"
                                placeholder="Balance">
                        </div>
                        <div class="col-lg-12">
                            <label for="_dm-Remark" class="form-label" [class.text-danger]="((CustomerTransactionInfoForm.get('Remark')?.touched ||
                                    CustomerTransactionInfoForm.get('Remark')?.dirty) &&
                                    CustomerTransactionInfoForm.get('Remark')?.errors)" [class.text-success]="(CustomerTransactionInfoForm.get('Remark')?.touched &&
                                    !CustomerTransactionInfoForm.get('Remark')?.errors)">Remark</label>
                            <input id="_dm-Remark" type="text" [formControlName]="'Remark'"
                                [class.is-invalid]="((CustomerTransactionInfoForm.get('Remark')?.touched ||
                                    CustomerTransactionInfoForm.get('Remark')?.dirty) &&
                                    CustomerTransactionInfoForm.get('Remark')?.errors)" [class.is-valid]="(CustomerTransactionInfoForm.get('Remark')?.touched &&
                                    !CustomerTransactionInfoForm.get('Remark')?.errors)" class="form-control"
                                placeholder="Enter Remark">
                        </div>
                        <div class="mt-4 d-grid gap-2 d-md-block">
                            <button type="submit" [disabled]="CustomerTransactionInfoForm.invalid || showLoader"
                                class="btn btn-primary">
                                <ng-container *ngIf="showLoader">
                                    <span class="spinner-border spinner-border-sm"></span>
                                    Loading..
                                </ng-container>
                                <ng-container *ngIf="!showLoader">
                                    {{isAdd?'Save':'Update'}}
                                </ng-container>
                            </button>
                            |
                            <button type="button" class="btn btn-danger" (click)="clearField()">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <app-simple-table [SearchResult]="customerTransactionList" [searchFormName]="'Customer Transction List'"
                (delete)="delete($event)" (edit)="edit($event)"></app-simple-table>
            <ng-content></ng-content>
        </div>
    </div>
</div>

<app-slide-in [showSlideIn]="isCustomerInfoSlideIn" (visibleChange)="showCustomerInfoSlideIn($event)">
    <app-customer-info></app-customer-info>
</app-slide-in>