<div class="offcanvas-body py-0">
    <div class="_dm-setting-container__content row">
        <div class="col-md-4 mb-3">
            <div class="h-100">
                <div class="card-body">
                    <h5 class="card-title">Horizontal form</h5>
                    <form>
                        <app-simple-text-box></app-simple-text-box>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                               <app-simple-text-box></app-simple-text-box>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="_dm-inputAddress3" class="col-sm-2 form-label">Address</label>
                            <div class="col-sm-10">
                                <input id="_dm-inputAddress3" type="text" class="form-control"
                                    placeholder="1234 Main St">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="_dm-inputAddress4" class="col-sm-2 col-form-label">Address 2</label>
                            <div class="col-sm-10">
                                <input id="_dm-inputAddress4" type="text" class="form-control"
                                    placeholder="Apartment, studio, or floor">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="_dm-inputCity2" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input id="_dm-inputCity2" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input id="_dm-rememberCheck3" class="form-check-input" type="checkbox">
                                    <label for="_dm-rememberCheck3" class="form-check-label">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>

                </div>
            </div>
    </div>
        <div class="col-md-8 mb-3">
            <div class="mb-3">
                <input id="_dm-litePicker-single" type="text" class="form-control" placeholder="Format date : DDDD, DDD-MMM-YYY">
                </div>
        </div>
    </div>
</div>