<div class="content__boxed">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Search</h5>
            <div class="row g-3 align-items-center">
                <div *ngIf="activeTab == null || activeTab?.subMenuURL == 'CustomerInfo'"
                    class="col-md-3 col-sm-12 d-flex flex-wrap justify-content-center gap-2">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <ng-container *ngFor="let group of CustomerTypes">
                            <input type="radio" class="btn-check" id="Search_{{group.Value}}" [value]="group.Value"
                                [(ngModel)]="CustomerTypeID" (change)="serchCustomer()">
                            <label class="btn btn-outline-primary" for="Search_{{group.Value}}">{{group.Text}}</label>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-7 col-sm-8">
                    <label for="_dm-staticEmail" class="visually-hidden">Email</label>
                    <input type="text" class="form-control" id="_dm-inputEmail" [(ngModel)]="CustomerName" name="CustomerName"
                        placeholder="Search by customer name , contact no, vehical no, vehical name, serial no etc.." />
                </div>
                <div class="col-md-2 col-sm-4">
                    <input type="button" class="btn btn-primary" (click)="serchCustomer()" value="Search" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="tab-base">
                <ul class="nav nav-callout justify-content-end" role="tablist">
                    <li *ngIf="activeTab == null || activeTab?.subMenuURL == 'CustomerInfo'" class="nav-item"
                        role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#_advance_search_customer_info" type="button" role="tab"
                            aria-controls="home" aria-selected="true">Customer</button>
                    </li>
                    <li *ngIf="activeTab == null || activeTab?.subMenuURL == 'PurchaseInfo'" class="nav-item"
                        role="presentation">
                        <button class="nav-link" [class.active]="activeTab?.subMenuURL == 'PurchaseInfo'" data-bs-toggle="tab" data-bs-target="#_advance_search_purchase_info"
                            type="button" role="tab" aria-controls="profile" [attr.aria-selected]="activeTab?.subMenuURL == 'PurchaseInfo'">Purchase</button>
                    </li>
                    <li *ngIf="activeTab == null || activeTab?.subMenuURL == 'SaleInfo'" class="nav-item"
                        role="presentation">
                        <button class="nav-link" [class.active]="activeTab?.subMenuURL == 'SaleInfo'" data-bs-toggle="tab" data-bs-target="#_advance_search_sale_info"
                            type="button" role="tab" aria-controls="contact" [attr.aria-selected]="activeTab?.subMenuURL == 'SaleInfo'">Sale</button>
                    </li>
                    <li *ngIf="activeTab == null || activeTab?.subMenuURL == 'WarrantyInfo'" class="nav-item"
                        role="presentation">
                        <button class="nav-link" [class.active]="activeTab?.subMenuURL == 'WarrantyInfo'" data-bs-toggle="tab" data-bs-target="#_advance_search_warranty_info"
                            type="button" role="tab" aria-controls="contact" [attr.aria-selected]="activeTab?.subMenuURL == 'WarrantyInfo'">Warranty</button>
                    </li>
                    <li *ngIf="activeTab == null || activeTab?.subMenuURL == 'SaleReturnInfo'" class="nav-item"
                        role="presentation">
                        <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#_advance_search_sales_return_info" type="button" role="tab"
                            aria-controls="contact" aria-selected="false">Sale Return</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div *ngIf="activeTab == null || activeTab?.subMenuURL == 'CustomerInfo'"
                        id="_advance_search_customer_info" class="tab-pane fade show active" role="tabpanel"
                        aria-labelledby="home-tab">
                        <h5 class="card-title">Customer Detail</h5>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                            bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a
                            little he could see his brown belly, slightly domed and divided by arches into stiff
                            sections.</p>
                    </div>
                    <div *ngIf="activeTab == null || activeTab?.subMenuURL == 'PurchaseInfo'"
                        id="_advance_search_purchase_info" class="tab-pane fade show active" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div class="col-lg-12">
                            <app-purchase-search (deleteItem)="deleteItem($event)"
                                [ActivePurchaseInfoList]="ActivePurchaseInfoList"
                                (closeSlideIn)="closeSlideIn($event)">
                            </app-purchase-search>
                        </div>
                    </div>
                    <div *ngIf="activeTab == null || activeTab?.subMenuURL == 'SaleInfo'" id="_advance_search_sale_info"
                        class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="col-lg-12">
                            <app-sale-search (deleteItem)="deleteItem($event)"
                                [ActiveSaleInfoList]="ActiveSaleInfoList"
                                (closeSlideIn)="closeSlideIn($event)">
                            </app-sale-search>
                        </div>
                    </div>
                    <div *ngIf="activeTab == null || activeTab?.subMenuURL == 'WarrantyInfo'" id="_advance_search_warranty_info"
                        class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="col-lg-12">
                            <app-warranty-search
                            (deleteItem)="deleteItem($event)"
                                [ActiveWarrantyInfoList]="ActiveWarrantyInfoList"
                                (closeSlideIn)="closeSlideIn($event)">
                            </app-warranty-search>
                        </div>
                    </div>
                    <div *ngIf="activeTab == null || activeTab?.subMenuURL == 'SaleReturnInfo'"
                        id="_advance_search_sales_return_info" class="tab-pane fade" role="tabpanel"
                        aria-labelledby="contact-tab">
                        <h5 class="card-title">Sale Return Detail</h5>
                        <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz
                            graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs
                            vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>