<div class="content__boxed">
    <div class="content__wrap">
        <section>
            <form class="row" [formGroup]="WarrantyInfoForm" (ngSubmit)="Submit($event)">
                <div class="col-md-12 mb-1">
                    <div class="row">
                        <div class="col-md-2 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Warranty Replacement</h5>
                                    <div class="row">
                                        <div class="col-md-12  mb-3">
                                            <label for="ReplacementDate" class="visually-hidden" [class.text-danger]="((WarrantyInfoForm.get('ReplacementDate')?.touched ||
                                        WarrantyInfoForm.get('ReplacementDate')?.dirty) &&
                                        WarrantyInfoForm.get('ReplacementDate')?.errors)" [class.text-success]="(
                                        !WarrantyInfoForm.get('ReplacementDate')?.errors)">Date</label>
                                            <input id="ReplacementDate" type="text" formControlName="ReplacementDate"
                                                [class.is-invalid]="((WarrantyInfoForm.get('ReplacementDate')?.touched ||
                                        WarrantyInfoForm.get('ReplacementDate')?.dirty) &&
                                        WarrantyInfoForm.get('ReplacementDate')?.errors)" [class.is-valid]="(
                                        !WarrantyInfoForm.get('ReplacementDate')?.errors)" class="form-control"
                                                placeholder="Date" appDate>
                                            <span style="color:red" class="help-block" *ngIf="((WarrantyInfoForm.get('ReplacementDate')?.touched ||
                                            WarrantyInfoForm.get('ReplacementDate')?.dirty) &&
                                            WarrantyInfoForm.get('ReplacementDate')?.errors)">
                                                Date is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div *ngIf="selectedCustomer?.CustomerID" class="col-sm-12 col-md-6 col-xl-12 mb-1">
                                <div class="tab-base">
                                    <ul class="nav nav-callout justify-content-end" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" data-bs-toggle="tab"
                                                data-bs-target="#_dm-coRevTabsBaseHome" type="button" role="tab"
                                                aria-controls="home" aria-selected="true">Detail</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#_dm-coRevTabsBaseProfile" type="button" role="tab"
                                                aria-controls="profile" aria-selected="false">More info</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" style="padding: 0.50rem 0.50rem;">
                                        <div id="_dm-coRevTabsBaseHome" class="tab-pane fade show active"
                                            role="tabpanel" aria-labelledby="home-tab">
                                            <div class="d-flex align-items-center position-relative pb-3">
                                                <div class="flex-shrink-0">
                                                    <img class="img-md rounded-circle"
                                                        src="../../assets/img/profile-photos/3.png"
                                                        alt="Profile Picture" loading="lazy">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a
                                                        class="h5 stretched-link btn-link">{{selectedCustomer?.CustomerName}}</a>
                                                    <p class="text-muted m-0">{{selectedCustomer?.ContactNo}}</p>
                                                    <p class="h5 stretched-link btn-link">
                                                        {{selectedCustomer?.CustomerType}}</p>
                                                </div>
                                                <!-- <p class="flex-grow-1 ms-3">{{selectedCustomer?.Address}}<br>
                                                    {{selectedCustomer?.VehiclelNo}}<br>
                                                    {{selectedCustomer?.VehicleName}}</p> -->
                                            </div>
                                        </div>
                                        <div id="_dm-coRevTabsBaseProfile" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                            <p class="flex-grow-1 ms-3">{{selectedCustomer?.Address}}<br>
                                                {{selectedCustomer?.VehiclelNo}}<br>
                                                {{selectedCustomer?.VehicleName}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1"
                        *ngIf="this['OldProduct'] = WarrantyInfoForm.get('WarrantyProductInfo')?.value?.OldProduct">
                        <div class="tab-base">
                            <ul class="nav nav-callout justify-content-end" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        [attr.data-bs-target]="'#home_new_'+ this['OldProduct']?.SaleProductInfo?.[0]?.SaleProductID" type="button"
                                        role="tab" aria-controls="home" aria-selected="true">Detail</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab"
                                        [attr.data-bs-target]="'#more_new_'+ this['OldProduct']?.SaleProductInfo?.[0]?.SaleProductID" type="button"
                                        role="tab" aria-controls="profile" aria-selected="false">More info</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" type="button" role="tab"
                                        (click)="removeOldProduct(this['OldProduct'])"><i
                                            class="demo-pli-cross fs-5"></i></button>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="home_new_{{this['OldProduct']?.SaleProductInfo?.[0]?.SaleProductID}}" class="tab-pane fade show active"
                                    role="tabpanel" aria-labelledby="home-tab">
                                    <h5 class="card-title">{{this['OldProduct']?.SaleProductInfo?.[0]?.ProductName}} -
                                        <span>{{this['OldProduct']?.SaleProductInfo?.[0]?.SerialNo}}</span>
                                    </h5>
                                    <p style="cursor: pointer; color: blueviolet; text-decoration: underline;" (click)="openSaleInvoice(this['OldProduct']?.SaleID)">Sales Bill No. : {{this['OldProduct']?.BillNo}}</p>
                                </div>
                                <div id="more_new_{{this['OldProduct'].SaleProductInfo?.[0]?.SaleProductID}}" class="tab-pane fade" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <h5 class="card-title">{{this['OldProduct']?.SaleProductInfo?.[0]?.ProductName}} -
                                        <span>{{this['OldProduct']?.SaleProductInfo?.[0]?.SerialNo}}</span>
                                    </h5>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Sale Bill No.</th>
                                                    <th>{{this['OldProduct']?.BillNo}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Sale Date</th>
                                                    <th>{{this['OldProduct']?.BillDate}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Guarantee Period</th>
                                                    <th>{{this['OldProduct']?.SaleProductInfo?.[0]?.GuaranteePeriod}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Guarantee End On</th>
                                                    <th>{{this['OldProduct']?.SaleProductInfo?.[0]?.GuaranteeEndDate}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Warranty Period</th>
                                                    <th>{{this['OldProduct']?.SaleProductInfo?.[0]?.WarrantyPeriod}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Warranty End On</th>
                                                    <th>{{this['OldProduct']?.SaleProductInfo?.[0]?.WarrantyEndDate}}</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                    <div class="row" formGroupName="WarrantyProductInfo">
                        <div class="col-md-4 mb-1">
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title">Product</h5>
                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <input id="id_SerialNo" formControlName="OldSerialNo" type="text"
                                                class="form-control" placeholder="enter OLD Serial No" (blur)="getOldProductDetailBySerialNo()">
                                        </div>
                                        <div class="col-6">
                                            <input id="id_SerialNo" formControlName="NewSerialNo" type="text"
                                                class="form-control" placeholder="enter NEW serial no"
                                                (blur)="getNewProductDetailBySerialNo()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1"
                            *ngIf="this['NewProduct'] = WarrantyInfoForm.get('WarrantyProductInfo')?.value?.NewProduct">
                            <div class="tab-base">
                                <ul class="nav nav-callout justify-content-end" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                            [attr.data-bs-target]="'#home_'+ this['NewProduct']?.PurchaseProductID" type="button"
                                            role="tab" aria-controls="home" aria-selected="true">Detail</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab"
                                            [attr.data-bs-target]="'#more_'+ this['NewProduct']?.PurchaseProductID" type="button"
                                            role="tab" aria-controls="profile" aria-selected="false">More info</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" type="button" role="tab"
                                            (click)="removeNewProduct(this['NewProduct'])"><i
                                                class="demo-pli-cross fs-5"></i></button>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="home_{{this['NewProduct']?.PurchaseProductID}}" class="tab-pane fade show active"
                                        role="tabpanel" aria-labelledby="home-tab">
                                        <h5 class="card-title">{{this['NewProduct']?.ProductName}} -
                                            <span>{{this['NewProduct']?.SerialNo}}</span>
                                        </h5>
                                        <p style="cursor: pointer; color: blueviolet; text-decoration: underline;" (click)="openPurchaseInvoice(this['NewProduct']?.PurchaseID)">Purchase Bill No. : {{this['NewProduct']?.BillNo}}</p>
                                    </div>
                                    <div id="more_{{this['NewProduct'].PurchaseProductID}}" class="tab-pane fade" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <h5 class="card-title">{{this['NewProduct']?.ProductName}} -
                                            <span>{{this['NewProduct']?.SerialNo}}</span>
                                        </h5>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Purchase Bill No.</th>
                                                        <th>{{this['NewProduct']?.BillNo}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Purchase Date</th>
                                                        <th>{{this['NewProduct']?.PurchaseDate}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Current Stock</th>
                                                        <th>{{this['NewProduct']?.CurrentStock}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Guarantee Period</th>
                                                        <th>{{this['NewProduct']?.GuaranteePeriod}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Warranty Period</th>
                                                        <th>{{this['NewProduct']?.WarrantyPeriod}}</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" formGroupName="WarrantyProductInfo">
                        <div class="col-md-4 mb-3">
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title">Final</h5>
                                    <div class="d-flex flex-wrap justify-content-center gap-2 mb-1">
                                        <div class="btn-group" role="group"
                                            aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" id="FreeReplacement" [value]="'F'"
                                                formControlName="WarrantyType">
                                            <label class="btn btn-outline-primary" for="FreeReplacement">Free
                                                Replacement</label>
                                            <input type="radio" class="btn-check" id="DiscountReplacement" [value]="'D'"
                                                formControlName="WarrantyType">
                                            <label class="btn btn-outline-primary" for="DiscountReplacement">Discount
                                                Replacement</label>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label for="SalePrice" class="col-sm-2 col-form-label">Sale Price</label>
                                        <div class="col-sm-4">
                                            <input type="text" formControlName="SalePrice" class="form-control"
                                                id="SalePrice">
                                        </div>
                                        <label for="FinalPrice" class="col-sm-2 col-form-label">Final Price</label>
                                        <div class="col-sm-4">
                                            <input type="text" formControlName="FinalPrice" class="form-control"
                                                id="FinalPrice">
                                        </div>
                                    </div>
                                    <div class="row mb-1"
                                        *ngIf="this.WarrantyInfoForm.get('WarrantyProductInfo')?.value?.WarrantyType === 'D'">
                                        <label for="DiscountPercentage" class="col-sm-2 col-form-label">Discount
                                            %</label>
                                        <div class="col-sm-4">
                                            <input type="text" formControlName="DiscountPercentage" class="form-control"
                                                (change)="calculateDiscuntAmount()" id="DiscountPercentage">
                                        </div>
                                        <label for="DiscountAmount" class="col-sm-2 col-form-label">Discount
                                            Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" formControlName="DiscountAmount" class="form-control"
                                                id="DiscountAmount">
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="mt-4 d-grid gap-2 d-md-block">
                                            <button type="submit" class="btn btn-primary" [disabled]="WarrantyInfoForm.invalid || ((this.WarrantyInfoForm.get('SaleProductList')?.value ?? []).length==0 
                                                || !selectedCustomer?.CustomerID
                                                || showLoader)">
                                                <ng-container *ngIf="showLoader">
                                                    <span class="spinner-border spinner-border-sm"></span>
                                                    Loading..
                                                </ng-container>
                                                <ng-container *ngIf="!showLoader">
                                                    {{isAdd?'Save':'Update'}}
                                                </ng-container>

                                            </button>
                                            |
                                            <button type="button" class="btn btn-danger"
                                                (click)="clearWarranty()">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>