<div _ngcontent-vgl-c14="" id="_dm-settingsContainer" style="background-color: #edf1f6;" tabindex="-1"
  class="_dm-setting-container offcanvas offcanvas-end rounded-start" [class.show]="showSlideIn"
  [style.visibility]="(showSlideIn) ? 'visible' : 'hidden'" aria-modal="true" role="dialog"
  style="max-height: calc(100vh - 210px);
  overflow-y: auto;">
  <div _ngcontent-vgl-c14="" class="offcanvas-body py-0 px-0">
    <div _ngcontent-vgl-c14="" class="_dm-setting-container__content row">
      <div class="row">
        <div class="col-md-1 col-sm-1 offset-md-11 offset-sm-11 mt-1">
          <button type="button" style="float: right;" class="btn btn-primary" (click)="changeVisability(false)">
            <i class=" demo-pli-cross fs-5"></i>
          </button>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div *ngIf="showSlideIn" class="offcanvas-backdrop fade" [class.show]="showSlideIn"></div>