<div id="_dm-settingsContainer" class="_dm-setting-container offcanvas offcanvas-end rounded-start show" tabindex="-1">
  <button id="_dm-settingsToggler"
    class="_dm-btn-settings btn btn-sm btn-dark p-2 rounded-0 rounded-start shadow-none" type="button"
    data-bs-toggle="offcanvas" data-bs-target="#_dm-settingsContainer" aria-label="Customization button"
    aria-controls="_dm-settingsContainer">
    <i class="demo-psi-gear fs-1"></i>
  </button>
 <app-basic-center></app-basic-center>
</div>