<div class="card bg-warning text-white overflow-hidden mb-3"  (click)="navigate()" style="cursor: pointer;">
    <div class="p-3 pb-2">
        <h5 class="mb-3"><i class="demo-psi-basket-coins text-reset text-opacity-75 fs-2 me-2"></i> Purchase
        </h5>
        <ul class="list-group list-group-borderless">
            <li class="list-group-item p-0 text-reset d-flex justify-content-between align-items-start">
                <div class="me-auto">Today</div>
                <span class="fw-bold">{{todaysSale}}</span>
            </li>
        </ul>
    </div>
    <div class="py-0">
        <canvas id="purchaseChart"></canvas>
    </div>
</div>