<div class="content__boxed">
    <div class="content__wrap">

        <section>
            <form class="row" [formGroup]="PurchaseInfoForm" (ngSubmit)="Submit($event)">
                <div class="col-md-7 mb-1">
                    <div class="row">
                        <div class="col-md-8 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Purchase</h5>
                                    <div class="row">
                                        <div class="col-md-3  mb-3">
                                            <label for="_dm-inputPassword" class="visually-hidden" [class.text-danger]="((PurchaseInfoForm.get('BillNo')?.touched ||
                                            PurchaseInfoForm.get('BillNo')?.dirty) &&
                                            PurchaseInfoForm.get('BillNo')?.errors)" [class.text-success]="(PurchaseInfoForm.get('BillNo')?.touched &&
                                            !PurchaseInfoForm.get('BillNo')?.errors)">Bill No</label>
                                            <input type="text" class="form-control" id="_dm-inputPassword"
                                                formControlName="BillNo" placeholder="Bill No" [class.is-invalid]="((PurchaseInfoForm.get('BillNo')?.touched ||
                                        PurchaseInfoForm.get('BillNo')?.dirty) &&
                                        PurchaseInfoForm.get('BillNo')?.errors)" [class.is-valid]="(PurchaseInfoForm.get('BillNo')?.touched &&
                                        !PurchaseInfoForm.get('BillNo')?.errors)">

                                            <span style="color:red" class="help-block" *ngIf="((PurchaseInfoForm.get('BillNo')?.touched ||
                                        PurchaseInfoForm.get('BillNo')?.dirty) &&
                                        PurchaseInfoForm.get('BillNo')?.errors)">
                                                Bill no is required.
                                            </span>

                                        </div>
                                        <div class="col-md-5  mb-3">
                                            <button type="button" class="btn btn-primary"
                                                (click)="showPartyInfoSlideIn(true)">
                                                <i class=" demo-pli-mail-send fs-5 me-2"></i> {{btnChoosePartyText}}
                                            </button>
                                            <span style="color:red" class="help-block"
                                                *ngIf="((
                                                                                        PurchaseInfoForm.get('PartyID')?.dirty) &&
                                                                                        PurchaseInfoForm.get('PartyID')?.errors)">
                                                Please choose party.
                                            </span>
                                        </div>
                                        <div class="col-md-4  mb-3">
                                            <label for="PurchaseDate" class="visually-hidden" [class.text-danger]="((PurchaseInfoForm.get('PurchaseDate')?.touched ||
                                        PurchaseInfoForm.get('PurchaseDate')?.dirty) &&
                                        PurchaseInfoForm.get('PurchaseDate')?.errors)" [class.text-success]="(
                                        !PurchaseInfoForm.get('PurchaseDate')?.errors)">Date</label>
                                            <input id="PurchaseDate" type="text" formControlName="PurchaseDate"
                                                [class.is-invalid]="((PurchaseInfoForm.get('PurchaseDate')?.touched ||
                                        PurchaseInfoForm.get('PurchaseDate')?.dirty) &&
                                        PurchaseInfoForm.get('PurchaseDate')?.errors)" [class.is-valid]="(
                                        !PurchaseInfoForm.get('PurchaseDate')?.errors)" class="form-control"
                                                placeholder="Date">
                                            <span style="color:red" class="help-block" *ngIf="((PurchaseInfoForm.get('PurchaseDate')?.touched ||
                                            PurchaseInfoForm.get('PurchaseDate')?.dirty) &&
                                            PurchaseInfoForm.get('PurchaseDate')?.errors)">
                                                Date is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div *ngIf="selectedParty?.PartyID" class="col-sm-12 col-md-6 col-xl-12 mb-1">
                                <div class="tab-base">
                                    <ul class="nav nav-callout justify-content-end" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" data-bs-toggle="tab"
                                                data-bs-target="#_dm-coRevTabsBaseHome" type="button" role="tab"
                                                aria-controls="home" aria-selected="true">Detail</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#_dm-coRevTabsBaseProfile" type="button" role="tab"
                                                aria-controls="profile" aria-selected="false">More info</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" type="button" role="tab"
                                                (click)="removeSelectedParty()"><i
                                                    class="demo-pli-cross fs-5"></i></button>
                                        </li>
                                    </ul>

                                    <div class="tab-content" style="padding: 0.50rem 0.50rem;">
                                        <div id="_dm-coRevTabsBaseHome" class="tab-pane fade show active"
                                            role="tabpanel" aria-labelledby="home-tab">
                                            <div class="d-flex align-items-center position-relative pb-3">
                                                <div class="flex-shrink-0">
                                                    <img class="img-md rounded-circle"
                                                        src="../../assets/img/profile-photos/3.png"
                                                        alt="Profile Picture" loading="lazy">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a
                                                        class="h5 stretched-link btn-link">{{selectedParty?.PartyName}}</a>
                                                    <p class="text-muted m-0">{{selectedParty?.ContactNo}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="_dm-coRevTabsBaseProfile" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="profile-tab">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3" formGroupName="purchaseProductInfo">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Product</h5>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="row g-3">
                                            <div class="col-md-6  mb-3">
                                                <label for="_dm-Category" class="form-label">Category</label>
                                                <select class="form-select" formControlName="CategoryID"
                                                    aria-label="select transition timing" (change)="getProductList()">
                                                    <option value=""> -- Select Category --</option>
                                                    <option *ngFor="let item of categoryList" [value]="item.CategoryID">
                                                        {{item.CategoryName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6  mb-3">
                                                <label for="_dm-Category" class="form-label">Product</label>
                                                <select class="form-select" formControlName="ProductID"
                                                    aria-label="select transition timing">
                                                    <option value=""> -- Select Product --</option>
                                                    <option *ngFor="let item of productList" [value]="item.ProductID">
                                                        {{item.ProductName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12  mb-3">
                                            <label for="_dm-inputAddress" class="form-label">Serial No.</label>
                                            <input id="_dm-inputAddress" formControlName="SerialNo" type="text"
                                                class="form-control" placeholder="Scan" (blur)="separateSerialNo()">
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-6  mb-3">
                                                <label for="_dm-Price" class="form-label">Total Qty</label>
                                                <input id="_dm-Price" formControlName="Quantity" type="text"
                                                    class="form-control" placeholder="Quantity">
                                            </div>
                                            <div class="col-6  mb-3">
                                                <label for="_dm-Price" class="form-label">Price</label>
                                                <input id="_dm-Price" formControlName="Price" type="text"
                                                    class="form-control" placeholder="Price">
                                            </div>
                                        </div>
                                        <div class="col-12  mb-3">
                                            <input type="button" class="btn btn-secondary" value="Add"
                                                (click)="SubmitPurchaseProduct()" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mt-4 d-flex flex-wrap justify-content-center gap-2">
                                            <ng-container *ngFor="let srno of serialNoList">
                                                <button type="button" class="btn btn-warning">{{srno}}</button>
                                            </ng-container>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Added Product</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>SrNo</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of purchaseProductList">
                                            <td>{{item.ProductName}}</td>
                                            <td>{{item.SerialNo}}</td>
                                            <td>{{item.Quantity}}</td>
                                            <td>{{item.Price}}</td>
                                            <th> <input type="button" class="btn btn-danger" value="Delete"
                                                    (click)="removePurchaseProduct(item)" /></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h5 class="card-title">Product</h5>
                            <div>
                                <div class="row mb-1">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label for="TotalQuantity" class="col-sm-4 col-form-label">Total Qty</label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="TotalQuantity" class="form-control"
                                                    id="TotalQuantity">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label for="TotalAmount" class="col-sm-4 col-form-label">Total
                                                Amount</label>
                                            <div class="col-sm-8">
                                                <input type="text" formControlName="TotalAmount" class="form-control"
                                                    id="TotalAmount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label for="TotalPaidAmount" class="col-sm-4 form-label">Paid Amount</label>
                                            <div class="col-sm-8">
                                                <input id="TotalPaidAmount" formControlName="TotalPaidAmount"
                                                    type="text" class="form-control" placeholder="Paid Amount"
                                                    (blur)="updateTotalValues()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label for="Pending" class="col-sm-4 col-form-label">Pending Amount</label>
                                            <div class="col-sm-8">
                                                <input id="Pending" type="text" class="form-control"
                                                    formControlName="PendingAmount" placeholder="Pending">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="mt-4 d-grid gap-2 d-md-block">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="PurchaseInfoForm.invalid || purchaseProductList.length==0 || showLoader">
                                        <ng-container *ngIf="showLoader">
                                            <span class="spinner-border spinner-border-sm"></span>
                                            Loading..
                                        </ng-container>
                                        <ng-container *ngIf="!showLoader">
                                            {{isAdd?'Save':'Update'}}
                                        </ng-container>

                                    </button>
                                    |
                                    <button type="button" class="btn btn-danger"
                                        (click)="clearPurchase()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<app-slide-in [showSlideIn]="isPartyInfoSlideIn" (visibleChange)="showPartyInfoSlideIn($event)">
    <app-party-info></app-party-info>
</app-slide-in>