<div class="content__wrap">
    <h2 class="mb-3">Add Category</h2>
    <div class="card mb-3">
        <div class="card-body">
            <form class="row row-cols-md-auto g-3 align-items-center">
                <div class="col-12">
                    <label for="_dm-staticEmail" class="visually-hidden">Email</label>
                    <input type="text" class="form-control" id="_dm-inputEmail" placeholder="Email">
                </div>
                <div class="col-12">
                    <label for="_dm-inputPassword" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="_dm-inputPassword" placeholder="Password">
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input id="_dm-rememberCheck" class="form-check-input" type="checkbox">
                        <label for="_dm-rememberCheck" class="form-check-label">
                            Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Confirm identity</button>
                </div>
            </form>

        </div>
    </div>
</div>