<div class="tab-base">
    <ul class="nav nav-callout justify-content-end" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-coRevTabsBaseHome" type="button"
                role="tab" aria-controls="home" aria-selected="true">Detail</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-coRevTabsBaseProfile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">More info</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab" (click)="removeSelectedDistributor()"><i
                    class="demo-pli-cross fs-5"></i></button>
        </li>
    </ul>

    <div class="tab-content" style="padding: 0.50rem 0.50rem;">
        <div id="_dm-coRevTabsBaseHome" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex align-items-center position-relative pb-3">
                <div class="flex-shrink-0">
                    <img class="img-md rounded-circle" src="../../assets/img/profile-photos/3.png" alt="Profile Picture"
                        loading="lazy">
                </div>
                <div class="flex-grow-1 ms-3">
                    <a class="h5 stretched-link btn-link">{{selectedDistributor?.UserName}} - {{selectedDistributor?.Name}}</a>
                    <p class="text-muted m-0">{{selectedDistributor?.ContactNo}}</p>
                </div>
            </div>
        </div>
        <div id="_dm-coRevTabsBaseProfile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
        </div>
    </div>
</div>